body {
    font-family: 'Noto Sans';
    margin: 0;
}
body { 
    display: block;
    
}

.banner {
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}


#banner-icon {
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

#banner-text {
    margin-bottom: 2px;
    color: white;
    font-size: 0.75rem;
    display: inline-block;
    text-decoration: none;
    margin-right: 62px;
}
header {
    max-width: 112rem;
    margin: none;
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}

.menu-nav-container {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas: "menu nav nav nav nav nav nav nav nav nav nav nav nav";
    padding-left: 1.20rem;
    padding-right: 1.85rem;
}

.nav-container {
    grid-area: nav;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #111111;
}

.nav-container .logo {
    width: 90px;
    height: 36px;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.nav-cotainter nav {
    font-size: 0.075rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 2.95rem;
    white-space: nowrap;
}

.nav-container nav ul {
    padding: 0;
    margin: 0 0 2px 0;
}

.nav-container nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 26px;
    margin-left: 15px;
}

.search-container {
    width: 100%;
}

.search {
    font-family: 'Noto Sans';
    font-size: 16px;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 50em;
    width: 100%;
    height: 54px;
    padding: .8125rem 3.375rem .8125rem 3.6rem;
    margin-left: 21px;
    outline: 0;
    background-color: #f5f5f5;
    background-image: url(Images/search-icon.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 1.4rem;

}

.search ::placeholder {
    padding-left: 100px;
    
}
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

#searchbtn {
    display: none;
}

nav.icons-nav {
    padding-top: 4px;
    margin-left: 126px;
    display: flex;
}

.nav-container nav {
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

.icons-nav img {
    background-color: transparent;
    border-radius: 100%;
    padding: 8px;
    margin-left: 8px;
    box-sizing: content-box;
}